#search-component { 
  color: #369;
  font-family: Helvetica, sans-serif;
  input {
    padding: .5em 2px;
    width: 160px;
  }
  ul {
    width: 160px;
    padding: 0;
    margin: 0;
    li {
      width: 100%;
      padding: .5em 0 .5em 4px;
      border-left: 1px solid #333;
      border-right: 1px solid #333;
      box-shadow: 0 1px 5px #333;
      list-style-type: none;
      background-color: #eee;
      &:hover{
        background-color: #cfd8dc;
      }
      a {
        text-decoration: none;
        color: #333;
      }
    }
  }
}